<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolin.mapper.UserMapper">


    <insert id="register" parameterType="com.coolin.entity.User" useGeneratedKeys="true" keyProperty="id">
     insert  into t_user (username,password,sex,phone,email,integral,reg_time) values (#{userName},#{password},#{sex},#{phone},#{email},#{integral},curdate())
    </insert>



</mapper>